@font-face {
	font-family: 'icon-font';
	src:url('icon-font.eot?ahfef8');
	src:url('icon-font.eot?#iefixahfef8') format('embedded-opentype'),
		url('icon-font.woff?ahfef8') format('woff'),
		url('icon-font.ttf?ahfef8') format('truetype'),
		url('icon-font.svg?ahfef8#icon-font') format('svg');
	font-weight: normal;
	font-style: normal;
}
